.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row {
    border: 2px solid red;
    display: flex;
    margin: 40px 272px 0 125px;
}
.header {
}
.logo {
    width: 45%;
    font-size: 1.5rem;
}
.menu {
    width: 45%;
    font-size: 1.25rem;
}
.hero {
    min-height: 100vh;
    margin: 36px 83px 108px 83px;
    display: flex;
    /* width: 1346px;
    height: 665px; */
    padding-bottom: 30px;
    background-image: url(/assets/img/hero.png);
    background-size: cover;
    /* background-position: center; */
    /* background-attachment: fixed; */
    border-radius: 41px;
    opacity: 75%;
    border: 2px solid blue;
}
.main-title {
    display: flex;
    flex-direction: column;
}
.button-row {
    display: flex;
}

.hero .btn,
.btn-white {
    margin: auto 0;
}

.hero > h1 {
    margin: auto 0;
}

.btn {
    width: 214px;
    height: 60px;
    background-color: black;
    font-size: 1.5rem;
    color: white;
}

.btn-white {
    width: 379px;
    height: 60px;
    background-color: white;
    font-size: 1.5rem;
    color: black;
}

.link {
    color: black;
}

.kmvr {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
}
.kvmr > h1 {
    text-align: center;
    border: 2px solid orange;
}

.col-block {
    display: flex;
}
.col-kvmr {
    width: 30%;
    border: 2px solid orangered;
}

.image {
    /* object-fit: cover; */
    align-self: center;
}
.faq {
    position: relative;
    margin-top: 60px;
}

.faq h1 {
    position: absolute;
    left: 593px;
}
.faq-title {
    width: 90%;
    text-align: center;
    border: 2px solid yellowgreen;
}
.column-block {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 70px;
}
.column {
    width: 25%;
    border: 2px solid green;
    text-align: center;
}

.column > h3 {
    margin-top: 60px;
}

.faq-btn-row {
    display: flex;
    border: 2px solid violet;
    justify-content: center;
    margin-top: 120px;
    gap: 10px;
}
.btn-faq {
    width: 303px;
    height: 63px;
    background-color: #414141;
    font-size: 1.5rem;
    color: white;
    border-radius: 11px;
}

.btn-white-faq {
    width: 232px;
    height: 63px;
    background-color: white;
    font-size: 1.5rem;
    color: black;
    border-radius: 11px;
}
