.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-row {
    display: flex;
    margin: 40px 272px 0 125px;
}

.logo {
    width: 60%;
    font-size: 1.5rem;
}
.menu {
    width: 40%;
    font-size: 1.25rem;
}
.hero {
    min-height: 100vh;
    margin: 36px 83px 108px 83px;
    display: flex;
    position: relative;
    padding-bottom: 30px;
    background-image: url(/assets/img/hero.png);
    background-size: cover;

    border-radius: 41px;
}
.main-title {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
}

.hero > h1 {
    margin: auto 0;
}

.link {
    color: black;
}

.kmvr {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
}
.kvmr > h1 {
    text-align: center;
    margin-bottom: 60px;
}

.col-block {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.col-kvmr {
    width: 30%;
}

.image {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 60px;
}
.faq {
    position: relative;
    margin-top: 80px;
}

.faq h1 {
    position: absolute;
    left: 580px;
}
.faq-title {
    width: 90%;
    text-align: center;
}
.column-block {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 70px;
}
.column {
    width: 25%;
    text-align: center;
}

.column > h3 {
    margin-top: 60px;
}
